html, body, #app
    position: relative
    height: 100%
    overflow: hidden

#app
    display: flex
    flex-direction: column

#servers-tab-nav
    flex-grow: 0
    flex-shrink: 0

#servers-tab-content
    flex-grow: 1
    position: relative
