@import 'base'

$basecolor: $grey50

body
	height: 100%
	overflow: hidden
	background-color: $basecolor

form
	h2
		text-transform: uppercase
		color: $grey500
		font-size: 14px
		padding: 16px 0 16px 0
		text-align: center
		border-bottom: 1px solid $grey300
		background-color: $bluegrey50

	.group
		position: relative
		padding: 12px 0
		height: 48px
		border-bottom: 1px solid $grey300

		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: $grey100
			opacity: 0
			transition: opacity .3s

		label
			display: block
			position: absolute
			top: 16px
			left: 0
			width: 100%
			height: 100%
			line-height: 48px
			box-sizing: border-box
			font-size: 14px
			text-transform: uppercase
			padding: 0 24px
			transform-origin: top left
			transition: transform .1s
			color: $grey400
			transform: scale(1) translateY(4px)

		input
			display: block
			width: 100%
			box-sizing: border-box
			position: absolute
			bottom: 6px
			left: 0
			height: 36px
			background-color: transparent
			border: 0
			outline: 0
			padding: 0 16px
			font-size: 16px
			font-family: sans-serif

		&.focus
			&::before
				opacity: 1

		&.active
			label
				transform: scale(0.7) translateY(-8px)

	button
		height: 64px
		line-height: 64px
		text-transform: uppercase

		&.blue
			color: $blue700
			background-color: $blue50

			&:hover, &:focus
				background-color: $blue300

		&.green
			color: $green700
			background-color: $green50

			&:hover, &:focus
				background-color: $green300

#menu
	width: 48px
	height: 100%
	position: absolute
	top: 0
	left: 0
	background-color: $blue700
	background-image: linear-gradient($blue600, $blue800)
	color: white

	button
		display: block
		width: 48px
		height: 48px
		font-size: 20px

		&:hover
			background-color: $blue500

#bottom-menu
	position: absolute
	bottom: 0
	left: 0
	width: 48px

body[data-tab="connections"] #menu-connections,
body[data-tab="database"] #menu-database,
body[data-tab="query"] #menu-query,
body[data-tab="settings"] #menu-settings
	color: $blue700
	background-color: $basecolor

body[data-tab="connections"] #connections,
body[data-tab="database"] #database,
body[data-tab="query"] #query,
body[data-tab="settings"] #settings
	display: block

#content
	width: 100%
	height: 100%
	box-sizing: border-box
	padding: 0 0 0 48px

	.tab
		display: none
		width: 100%
		height: 100%
		position: relative

.panels
	width: 100%
	height: 100%
	position: relative
	display: flex

.panel-sidebar
	min-width: 250px
	max-width: 400px
	width: 25%
	position: relative

	h2
		font-size: 14px
		height: 48px
		line-height: 48px
		padding: 0 8px
		border-bottom: 1px solid $grey300
		text-transform: uppercase

// TODO: Allow resize panel
.panel-separator
	width: 3px
	// cursor: ew-resize
	position: relative

	&::after
		content: ''
		position: absolute
		top: 0
		left: 1px
		width: 1px
		height: 100%
		background-color: $grey300

.panel-content
	flex-grow: 1
	background-color: white

#connections
	.panel-sidebar
		h2
			position: absolute
			top: 0
			left: 8px
			right: 8px

		#connections-list
			padding: 56px 0 8px 0
			height: 100%
			box-sizing: border-box

		ul
			height: 100%
			overflow: auto

		li
			height: 40px
			line-height: 40px
			padding: 0 16px
			cursor: pointer
			position: relative

			button
				position: absolute
				top: 0
				right: 0
				width: 40px
				height: 40px
				line-height: 40px
				text-align: center
				display: none
				color: $grey500

			&:hover
				background-color: $grey200

				button
					display: block

					&:hover
						color: $red500

	.panel-content
		display: flex

	#new-connection
		width: 90%
		max-width: 500px
		margin: auto
		background-color: $grey50
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.15)
		box-sizing: border-box

		.actions
			display: flex

			button
				width: 50%

				&:first-child
					border-right: 1px solid $grey300

#database
	.current-connection
		height: 32px
		line-height: 32px
		position: absolute
		top: 0
		left: 0
		width: 100%
		border-bottom: 1px solid $grey300
		font-size: 14px
		padding: 0 16px
		box-sizing: border-box
		background-image: linear-gradient(90deg, $green100, $grey100 20%)

	.panels
		padding: 32px 0 0 0
		box-sizing: border-box
