@import 'base'

$basecolor: $grey50

body
	height: 100%
	overflow: hidden
	background-color: $basecolor

form
	h2
		text-transform: uppercase
		color: $grey700
		font-size: 14px
		padding: 16px 0 16px 0
		text-align: center
		border-bottom: 1px solid $grey300
		background-color: $bluegrey50
		font-weight: 500

	.group
		position: relative
		padding: 12px 0
		height: 48px
		border-bottom: 1px solid $grey300

		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: $grey100
			opacity: 0
			transition: opacity .3s

		label
			display: block
			position: absolute
			top: 16px
			left: 0
			width: 100%
			height: 100%
			line-height: 48px
			box-sizing: border-box
			text-transform: uppercase
			padding: 0 24px
			transform-origin: top left
			transition: transform .1s
			color: $grey500
			transform: scale(1) translateY(4px)
			font-weight: 300

		input
			display: block
			width: 100%
			box-sizing: border-box
			position: absolute
			bottom: 6px
			left: 0
			height: 36px
			background-color: transparent
			border: 0
			outline: 0
			padding: 0 16px
			font-size: 16px
			font-family: inherit

		&.focus
			&::before
				opacity: 1

		&.active
			label
				transform: scale(0.7) translateY(-8px)

	button
		height: 48px
		line-height: 48px
		text-transform: uppercase

		&.orange
			color: $orange500

			&:hover, &:focus
				background-color: $orange50

		&.red
			color: $red500

			&:hover, &:focus
				background-color: $red50

		&.blue
			color: $blue500

			&:hover, &:focus
				background-color: $blue50

		&.green
			color: $green500

			&:hover, &:focus
				background-color: $green50

.panels
	width: 100%
	height: 100%
	position: relative
	display: flex

.panel-sidebar
	width: 250px
	position: relative

	h2
		font-size: 14px
		font-weight: 500
		height: 48px
		line-height: 48px
		padding: 0 8px
		border-bottom: 1px solid $grey300
		text-transform: uppercase

// TODO: Allow resize panel
.panel-separator
	width: 3px
	// cursor: ew-resize
	position: relative
	z-index: 1

	&::after
		content: ''
		position: absolute
		top: 0
		left: 1px
		width: 1px
		height: 100%
		background-color: $grey300

.panel-content
	flex-grow: 1
	background-color: white

#content
	.panel-sidebar
		display: flex
		flex-direction: column
		flex-shrink: 0;

	&[data-tab="servers"] #sidebar-tab-nav button:nth-child(1),
	&[data-tab="tables"] #sidebar-tab-nav button:nth-child(2),
	&[data-tab="queries"] #sidebar-tab-nav button:nth-child(3),
	&[data-tab="history"] #sidebar-tab-nav button:nth-child(4),
	&[data-tab="settings"] #sidebar-tab-nav button:nth-child(5)
		&::after
			transform: scaleX(1)

	&[data-tab="servers"] #servers,
	&[data-tab="tables"] #tables,
	&[data-tab="queries"] #queries,
	&[data-tab="history"] #history,
	&[data-tab="settings"] #settings
		display: block

	.panel-content
		position: relative

		.content
			position: absolute
			top: 0
			left: 0
			bottom: 150px
			width: 100%
			display: none

	&[data-tab="servers"],
	&[data-tab="settings"]
		.panel-content
			.content
				bottom: 0

	&[data-tab="servers"] .panel-content #new,
	&[data-tab="tables"] .panel-content #result,
	&[data-tab="queries"] .panel-content #result,
	&[data-tab="history"] .panel-content #result
		display: flex

#sidebar-tab-nav
	height: 40px
	line-height: 40px
	text-align: center
	border-bottom: 1px solid $grey300
	box-sizing: border-box

	&::after
		content: ''
		clear: both
		display: table

	button
		width: 20%
		height: inherit
		line-height: inherit
		color: $blue500
		position: relative
		font-size: 16px
		float: left

		&::after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 2px
			background-color: $blue500
			transform: scaleX(0)
			transition: transform .2s

		&:hover
			background-color: $blue50


#sidebar-tab-content
	flex-grow: 1
	position: relative

	.tab
		display: none
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%

#servers

#servers-list
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	overflow: auto

	li
		height: 32px
		line-height: 32px
		padding: 0 32px 0 16px
		position: relative

		span
			display: block
			cursor: pointer

		button
			position: absolute
			top: 0
			right: 0
			width: 32px
			height: inherit
			line-height: inherit
			text-align: center
			display: none
			color: $blue500

		&:hover
			background-color: $grey200

			button
				display: block

		&.editing
			background-color: $blue50

			button
				display: block

#tables

#databases
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 32px
	line-height: 32px
	border-bottom: 1px solid $grey300
	cursor: pointer
	box-sizing: border-box

	i
		position: absolute
		top: 0
		width: 32px
		height: 32px
		line-height: 32px
		display: block
		text-align: center

	i.icon-layout
		left: 0
		color: $blue500

	i.icon-angle-down
		right: 0
		color: $grey500

	&:hover
		background-color: $blue50

#databases-list
	width: 100%
	height: 32px
	line-height: 32px;
	box-sizing: border-box
	padding: 0 32px 0 32px

#tables-list
	position: absolute
	top: 32px
	bottom: 0
	left: 0
	width: 100%
	overflow: auto

	> li
		position: relative
		cursor: pointer

		.expand
			position: absolute
			top: 0
			left: 0
			width: 32px
			height: 32px
			line-height: 32px
			color: $grey500
			text-align: center

			i
				display: block

			&:hover
				color: $grey700

		.table-name
			padding: 0 32px
			height: 32px
			line-height: 32px
			overflow: hidden
			text-overflow: ellipsis

		.edit
			position: absolute
			top: 0
			right: 0
			width: 32px
			height: 32px
			line-height: 32px
			color: $blue500
			display: none

		&:hover
			.table-name
				background-color: $grey200

			.edit
				display: block

		&.active
			.table-name
				background-color: $grey300

		&.expanded
			.table-columns
				display: block

			.expand
				color: $grey500

				i
					transform: rotate(90deg)

	.table-columns
		display: none

		li
			position: relative
			height: 24px
			line-height: 24px
			font-size: 12px
			color: $grey700
			padding: 0 8px 0 24px
			display: flex
			cursor: default

			&::before
				content: '-'
				color: $grey500
				margin: 0 4px 0 0

			div
				flex-grow: 1

			span
				font-size: 10px
				color: $grey500
				margin: 0 0 0 4px

			&:hover
				background-color: $grey200

#connection
	height: 32px
	line-height: 32px
	position: relative
	border-top: 1px solid $grey300
	box-sizing: border-box

	.name
		padding: 0 8px 0 24px

	.status
		position: absolute
		top: 0
		left: 0
		width: 8px
		height: 8px
		border-radius: 50%
		background-color: $red500
		vertical-align: middle
		margin: 12px 8px

	&[data-state="connecting"]
		.status
			background-color: $orange500

	&[data-state="connected"]
		.status
			background-color: $green500

#new
	form
		width: 90%
		max-width: 500px
		margin: auto
		background-color: $grey50
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1)
		box-sizing: border-box

	.edit-title
		display: none
		background-color: $blue50

	.actions
		display: flex
		position: relative

		button
			flex-grow: 1
			border-left: 1px solid $grey300

		.clear
			border-color: transparent

		.save, .delete
			display: none

	&.editing
		.new-title
			display: none

		.edit-title
			display: block

		.actions
			.delete
				border-color: transparent

			.clear
				border-color: $grey300

			.save, .delete
				display: block

			.go, .add
				display: none

#result
	flex-grow: 1
	position: relative
	flex-direction: column

	.command
		padding: 8px 16px
		flex-shrink: 0

		&::before
			content: 'SQL'
			font-size: 10px
			font-weight: 300
			color: $grey700
			margin: 0 8px 0 0

	.result-box
		flex-grow: 1
		margin: 8px 16px 16px 16px
		background-color: $grey50
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
		position: relative

	.meta
		position: relative
		flex-shrink: 0
		height: 24px
		line-height: 24px
		padding: 0 24px 0 8px

	.total
		&::before
			content: 'Total Rows:'
			font-size: 10px
			font-weight: 300
			color: $grey700
			margin: 0 8px 0 0

	.export
		position: absolute
		top: 0
		right: 0
		width: 24px
		height: 24px
		line-height: 24px
		color: $blue500

		&:hover
			background-color: $blue50

	.table
		position: absolute
		top: 24px
		left: 0
		bottom: 0
		width: 100%
		overflow: auto

	table
		thead
			background-color: $bluegrey100

		th
			font-weight: 500

			&.text
				min-width: 150px

		td
			vertical-align: top

		th, td
			padding: 8px 16px
			border-left: 1px solid $grey200

			&:first-child
				border-left: 0

		tr
			border-bottom: 1px solid $grey200

			&:last-child
				border-bottom: 0

#query-panel
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	height: 150px
	border-top: 1px solid $grey300

	#content[data-tab="servers"] &,
	#content[data-tab="settings"] &
		display: none

	&::before
		display: block
		content: 'SQL QUERY'
		font-size: 10px
		padding: 0 48px 0 8px
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 24px
		line-height: 24px
		color: $grey500
		background-color: white
		font-weight: 300

	.editor
		padding: 0 8px
		position: absolute
		top: 24px
		bottom: 32px
		left: 0
		width: 100%
		box-sizing: border-box
		outline: 0
		overflow: auto
		font-size: 12px

	.actions
		position: absolute
		bottom: 0
		width: 100%
		height: 32px
		background-color: $grey50
		border-top: 1px solid $grey300
		box-sizing: border-box

		&::after
			content: ''
			display: table
			clear: both

		button
			width: 32px
			height: 32px
			cursor: pointer
			color: $blue500
			float: right

			&:hover
				background-color: $blue50
