#templates
	//- key - unique key of this item
	//- user
	//- host
	//- ssh - user@host for ssh
	script#server-list-item(type="text/html")
		li(data-key="{{key}}", class="{{withssh}}")
			span
				.host {{user}}@{{host}}
				.ssh {{ssh}}
			button.context.edit
				i.icon.icon-stack

	//- state - success | error
	//- total - affected rows
	//- date - executed date
	script#history-list-item(type="text/html")
		li(class="{{state}}")
			.query {{query}}
			.db {{db}}
			.total {{total}}
			.date {{date}}
			button.context.history-context
				i.icon.icon-stack

	//- key - saved key
	//- type - noname | ''
	//- name - name of the query
	//- query - sql
	//- date - saved date
	script#folder-list-item(type="text/html")
		li(class="{{type}}", data-key="{{key}}")
			.name {{name}}
			.query {{query}}
			.date {{date}}
			button.context.folder-context
				i.icon.icon-stack

	//- name - database name
	script#database-list-item(type="text/html")
		option(value="{{name}}") {{name}}

	//- name - table name
	//- columns - table columns from template#table-columns-item
	script#table-list-item(type="text/html")
		li(data-name="{{name}}", title="{{name}}")
			.table-name
				.name {{name}}
				button.context.table-context
					i.icon.icon-stack
			.expand
				i.icon-fa.icon-dir-right
			ul.table-columns {{columns}}
				//- template#table-column-item

	//- name - column name
	//- type - column type
	script#table-columns-item(type="text/html")
		li
			div {{name}}
			span {{type}}

	//- id - row id
	//- cells - table columns from template#result-table-head-cell/#result-table-cell
	script#result-table-row(type="text/html")
		tr(data-id="{{id}}") {{cells}}
			//- template#result-table-head-cell/#result-table-cell

	//- name - column name
	//- type - column type
	script#result-table-head-cell(type="text/html")
		th(class="{{type}}") {{name}}

	//- value - cell value
	//- type - cell type
	script#result-table-cell(type="text/html")
		td(class="{{type}}") {{value}}

	//- name
	script#newdatabase-select-default-item(type="text/html")
		option(value="{{name}}") {{name}} (Default)

	//- name
	script#newdatabase-select-item(type="text/html")
		option(value="{{name}}") {{name}}

	script#newdatabase-select-disabled-item(type="text/html")
		option(disabled="disabled") ────────────

	//- cells - table edit columns from
	script#table-edit-columns-row(type="text/html")
		tr
			td.actions
				button
					i.icon.icon-arrow-up
				button
					i.icon.icon-arrow-down
				button
					i.icon.icon-cross
			td
				input.column(type="text", value="{{column}}")
			td
				.select
					i.icon-fa.icon-angle-down
					select.type
						option("{{typetinyint}}") TINYINT
						option("{{typeint}}") INT
						option("{{typebigint}}") BIGINT
						option("{{typefloat}}") FLOAT
						option("{{typedouble}}") DOUBLE
						option("{{typechar}}") CHAR
						option("{{typevarchar}}") VARCHAR
						option("{{typetext}}") TEXT
						option("{{typedate}}") DATE
						option("{{typetimestamp}}") TIMESTAMP
						option("{{typetime}}") TIME
						option("{{typeyear}}") YEAR
						option("{{typedatetime}}") DATETIME
			td.col-length
				input.length(type="number", value="{{length}}", data-nolength="{{nolength}}")
			td.col-unsigned
				input.unsigned(type="checkbox", {{unsigned}})
			td.col-allownull
				input.allownull(type="checkbox", {{allownull}})
			td
				input.default(type="text", value="{{default}}", {{defaultnull}})
			td
				input.comment(type="text", value="{{comment}}")

	script#table-edit-columns-cell(type="text/html")
		td
			div(contenteditable="true") {{value}}

	script#table-edit-columns-cell-action(type="text/html")
		td
			button
				i.icon.icon-arrow-up
			button
				i.icon.icon-arrow-down
			button
				i.icon.icon-cross
