extends index

block prehead
	script.
		if (typeof module === 'object') {
			window.module = module;
			module = undefined;
		}

block append scripts
	script.
		require('./../renderer.js');

block posthead
	script.
		if (window.module) module = window.module;
