extends html

block stylesheets
	link(rel="stylesheet", type="text/css", href="assets/css/index.css")

block scripts
	script(type="text/javascript", src="assets/js/handler-web.js")
	script(type="text/javascript", src="assets/static/jquery-3.0.0.min.js")
	script(type="text/javascript", src="assets/js/library.js")
	script(type="text/javascript", src="assets/js/index.js")

block body
	#content.panels(data-tab="servers", data-content="new")
		#sidebar-tab-nav
			button(data-name="servers")
				i.icon.icon-server
			button(data-name="tables")
				i.icon.icon-columns
			button(data-name="folder")
				i.icon.icon-heart
			button(data-name="history")
				i.icon.icon-clock
			button(data-name="result")
				i.icon.icon-folder
			button(data-name="report")
				i.icon.icon-paper
			button(data-name="user")
				i.icon.icon-head
			button(data-name="settings")
				i.icon.icon-cog

		.panel-sidebar
			#sidebar-tab-content
				#servers.tab
					ul#server-list
						//- template#server-list-item
				#tables.tab
					#databases
						i.icon.icon-layout
						i.icon-fa.icon-angle-down
						select#database-list
							//- template#database-list-item
					ul#table-list
						//- template#table-list-item
				#folder.tab
					ul#folder-list
						//- template#folder-list-item
				#history.tab
					ul#history-list
						//- template#history-list-item
			#connection
				span.status
				.name
					//- current connection user@host
		.panel-separator
		.panel-content
			#new.content
				form
					h2.new-title New Connection
					h2.edit-title Edit Connection
					.group
						label.input-label Host
						input(type="text", name="host")
					.group
						label.input-label User
						input(type="text", name="user")
					.group
						label.input-label Password
						input(type="password", name="password")
					.group
						label.input-label Port
						input(type="number", name="port")
					.group#ssh-toggle
						label
							input(type="checkbox", name="ssh")
							=" SSH"
					#ssh-settings
						.group
							label.input-label SSH Host
							input(type="text", name="sshhost")
						.group
							label.input-label SSH User
							input(type="text", name="sshuser")
						#group-sshpassword.group
							label#label-sshpassword.input-label
							input(type="password", name="sshpassword")
							button#upload-sshkeyfile(type="button")
								i.icon.icon-upload
								i.icon.icon-cross
							input(type="file", name="sshkeyfile-input")
							input(type="hidden", name="sshkeyfile")
						.group
							label.input-label SSH Port
							input(type="number", name="sshport")
						.group
							label.input-label Local Binding Port (Random by default)
							input(type="number", name="sshport")
					.actions
						button.red.delete(type="button")
							i.icon.icon-trash
						button.orange.clear(type="button")
							i.icon.icon-cross
						button.blue.add(type="button")
							i.icon.icon-plus
						button.green.go(type="button")
							i.icon.icon-arrow-right
						button.green.save(type="button")
							i.icon.icon-check
			#result.content
				//- effective sql
				#command
				#result-box
					#meta
						//- total rows
						#total
						button#export
							i.icon.icon-download
					#table
						table
							thead
								//- template#result-table-row
							tbody
								//- template#result-table-row
					#error-message
			#query-panel
				#editor(contenteditable="true")
				.actions
					button#query-run
						i.icon.icon-play
					button#query-save
						i.icon.icon-plus
					button#query-clear
						i.icon.icon-cross

	#popup
		#popup-overlay
		#popup-query-save.popup-body
			.popup-title Save Query
			input(type="text", placeholder="Query Name (Optional)")
			.actions
				button.no
					i.icon.icon-cross
				button.yes
					i.icon.icon-check
		#popup-error.popup-body
			.popup-title Error
			p
			.actions
				button.yes
					i.icon.icon-check
		#popup-loading.popup-body
			.loading-blob
			p Loading

	include templates.pug
