extends html

block append stylesheets
	link(rel="stylesheet", type="text/css", href="assets/css/index.css")

block append scripts
	script(type="text/javascript", src="assets/js/index.js")

block append posthead
	script(type="text/javascript", src="assets/js/handler.js")

block body
	#content.panels(data-tab="servers", data-content="new")
		.panel-sidebar
			.tab-bar
				button(data-name="servers")
					i.icon.icon-server
				button(data-name="tables")
					i.icon.icon-columns
				button(data-name="queries")
					i.icon.icon-folder
				button(data-name="history")
					i.icon.icon-clock
				button(data-name="settings")
					i.icon.icon-cog
			.tab-content
				#servers.tab
					button#add-server.icon.icon-plus New Server
					ul#servers-list
						//- template#servers-list-item
				#tables.tab
					#databases
						i.icon.icon-layout
						i.icon-fa.icon-angle-down
						select#databases-list
							//- template#databases-list-item
					ul#tables-list
						//- template#tables-list-item
			#connection(data-state="")
				span.status
				.name
					//- current connection user@host
		.panel-separator
		.panel-content
			#new.content
				form
					h2 New Connection
					.group
						label Hostname
						input(type="text", name="hostname")
					.group
						label Username
						input(type="text", name="username")
					.group
						label Password
						input(type="password", name="password")
					.group
						label Port
						input(type="number", name="port")
					.actions
						button.blue(type="button")
							i.icon.icon-plus
						button.green(type="button")
							i.icon.icon-arrow-right
			#result.content
				//- effective sql
				.command select * from whatever;
				.result-box
					.meta
						//- total rows
						.total
						button.export
							i.icon.icon-download
					.table
						table
							thead
								//- template#result-table-row
							tbody
								//- template#result-table-row

			#query-panel
				.editor(contenteditable="true")
				.actions
					button.run
						i.icon.icon-play
					button.save
						i.icon.icon-plus
					button.clear
						i.icon.icon-cross

	#menu
		#main-menu
			button#menu-connections
				i.icon.icon-folder
			button#menu-database
				i.icon.icon-server
			button#menu-query
				i.icon.icon-search

		#bottom-menu
			button#menu-settings
				i.icon.icon-cog

	include templates.pug
