extends html

block body
	#content
		#connections.tab
			.panels
				.panel-sidebar
					h2 Connections
					#connections-list
						ul
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
							li
								span user@hostname
								button
									i.icon.icon-cross
				.panel-separator
				.panel-content
					form#new-connection
						h2 New Connection
						.group
							label Hostname
							input(type="text")
						.group
							label Username
							input(type="text")
						.group
							label Password
							input(type="password")
						.group
							label Port
							input(type="text")
						.actions
							button.blue(type="button")
								i.icon.icon-plus
							button.green(type="button")
								i.icon.icon-arrow-right
		#database.tab
			.panels
				.panel-sidebar
					.current-connection
						span.connection-status
						span.connection-name user@hostname
					#databases
						i.select-dropdown.icon-fa.icon-angle-down
						select
							option test
							option test
							option test
							option test
					#tables-list
						ul
							li
								button.icon-fa.icon-dir-right Test
								ul.table-columns
									li id
									li name
									li date
									li address
							li
								button.icon-fa.icon-dir-right Test
								ul.table-columns
									li id
									li name
									li date
									li address
							li
								button.icon-fa.icon-dir-right Test
								ul.table-columns
									li id
									li name
									li date
									li address
							li
								button.icon-fa.icon-dir-right Test
								ul.table-columns
									li id
									li name
									li date
									li address

				.panel-separator
				.panel-content
		#query.tab
			.current-connection
		#settings.tab

	#menu
		#main-menu
			button#menu-connections.icon.icon-folder
			button#menu-database.icon.icon-server
			button#menu-query.icon.icon-search

		#bottom-menu
			button#menu-settings.icon.icon-cog
