doctype html
html
    body
        #app
            ul#servers-tab-nav.nav.nav-tabs
                li.active
                    a(href="javascript:;") Home
                li
                    a(href="javascript:;")
                        i.glyphicon.glyphicon-plus
            #servers-tab-content
                servercontent
